
body{
  margin: 100px;
}
input[type=submit]{
    
    background-color: #e9ac20;
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input,select {
    width: 125%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  p {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 2px;
  }
 

 