body{
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 100px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
/* Style the form - display items horizontally */
.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create a two-column layout */
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .buttonedit{
    margin-top: 85px;
    background-color:  #e9ac20;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .buttonedit:hover 
  {
      background-color: #ffffff;
      color: black;
      border: 2px solid #e9ac20;
  }
  
  
 
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }